/* === Settings === */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    line-height: 1.6;
    font-family: 'Roboto', sans-serif;
    background-color: #4f4949ab;
    color: #fffcfc;
}

 /* === Navigation === */
 .navbar {
    background-color: #333;
    padding: 1rem;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }

  .navbar ul {
    display: flex;
    justify-content:  flex-end;
    gap: 2rem;
    list-style: none;
  }

  .navbar a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }

  .navbar a:hover {
    text-decoration: underline;
  }
  
  .contact__spezial {
    border: 1px solid violet;
    background-color: violet;
    padding: 0.5rem 1rem;
  }

  /* === Start & Begrüßung === */
  .start__terminal {
    color: #fffcfc;
    font-size: 1rem;
    background: black;
    width: 100px;
    height: 50px;
  }